<p-card header="Forms Data">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid p-grid">

      <div>

      </div>
      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input id="nome" pInputText formControlName="nome">
          <label for="nome">Nome</label>
        </span>
        <app-error-msg [control]="formulario.get('nome')" label='Nome' >
        </app-error-msg>
      </div>

      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input id="email" pInputText formControlName="email">
          <label for="email">Email</label>
        </span>

        <app-error-msg [control]="formulario.get('email')" label='Email' >
        </app-error-msg>

        <app-campo-control-erro [mostrarErro]="formulario.get('email')?.status === 'PENDING'" msgErro="Validando email...">
        </app-campo-control-erro>

        <app-campo-control-erro [mostrarErro]="formulario.get('email')?.status === 'VALID'" msgErro="Email válido!">
        </app-campo-control-erro>

        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email é obrigatório.">
        </app-campo-control-erro>

        <app-campo-control-erro [mostrarErro]="verificarEmail()" msgErro="Email inválido.">
        </app-campo-control-erro> -->

        <!-- <app-campo-control-erro [mostrarErro]="!!formulario.get('email')?.hasError('emailInvalido')" msgErro="Email já cadastrado!.">
        </app-campo-control-erro> -->
      </div>

      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input id="confirmarEmail" type="text" pInputText formControlName="confirmarEmail">
          <label for="confirmarEmail">Confirmar Email</label>
        </span>

        <app-error-msg [control]="formulario.get('confirmarEmail')" label='Confirmar Email' >
        </app-error-msg>

        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('confirmarEmail')" msgErro="Confirmar email é obrigatório.">
        </app-campo-control-erro>

        <app-campo-control-erro [mostrarErro]="!!formulario.get('confirmarEmail')?.hasError('confirmarEmail')" msgErro="Confirmar email inválido.">
        </app-campo-control-erro>

        <app-campo-control-erro [mostrarErro]="!!formulario.get('confirmarEmail')?.hasError('equalsTo')" msgErro="Confirmar email diferente do campo email.">
        </app-campo-control-erro> -->
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid p-group" formGroupName="endereco">

      <div class="p-field p-col-12 p-md-2">
        <span class="p-float-label">
          <input id="cep" type="text" pInputText formControlName="cep" (blur)="consultaCEP()" />
          <label for="cep">CEP</label>
        </span>
        <app-error-msg [control]="formulario.get('endereco.cep')" label='CEP' >
        </app-error-msg>

        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório.">
        </app-campo-control-erro>

        <app-campo-control-erro [mostrarErro]="!!formulario.get('endereco.cep')?.hasError('cepInvalido')" msgErro="CEP inválido.">
        </app-campo-control-erro> -->
      </div>

      <div class="p-field p-col-12 p-md-2">
        <span class="p-float-label">
          <input id="numero" type="text" pInputText formControlName="numero">
          <label for="numero">Numero</label>
        </span>
        <app-error-msg [control]="formulario.get('endereco.numero')" label='Numero' >
        </app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Numero é obrigatório.">
        </app-campo-control-erro> -->      
      </div>

      <div class="p-field p-col-12 p-md-8">
        <span class="p-float-label">
          <input id="complemento" type="text" pInputText formControlName="complemento">
          <label for="complemento">Complemento</label>
        </span>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.complemento')"
          msgErro="Complemento é obrigatório.">
        </app-campo-control-erro> -->
        <app-error-msg [control]="formulario.get('endereco.complemento')" label='Complemento' >
        </app-error-msg>
      </div>

      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input id="rua" type="text" pInputText formControlName="rua">
          <label for="rua">Rua</label>
        </span>
        <app-error-msg [control]="formulario.get('endereco.rua')" label='Rua' >
        </app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório.">
        </app-campo-control-erro> -->
      </div>

      <div class="p-field p-col-12 p-md-5">
        <span class="p-float-label">
          <input id="bairro" type="text" pInputText formControlName="bairro" />
          <label for="bairro">Bairro</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório.">
        </app-campo-control-erro>
        <app-error-msg [control]="formulario.get('endereco.bairro')" label='Bairro' >
        </app-error-msg>
      </div>

      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <input id="cidade" type="text" pInputText formControlName="cidade" />
          <label for="cidade">Cidade</label>
        </span>
        <app-error-msg [control]="formulario.get('endereco.cidade')" label='Cidade' >
        </app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório.">
        </app-campo-control-erro> -->
      </div>

      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <!-- <input id="estado" type="text" pInputText formControlName="estado"  /> -->
          <p-dropdown id="estado" [autoDisplayFirst]="false" formControlName="estado" [options]="estados"
            optionLabel="nome" optionValue="sigla" [class.ng-dirty]="verificaValidTouched('endereco.estado')">
          </p-dropdown>
          <label for="estado">Estado</label>
        </span>
        <app-error-msg [control]="formulario.get('endereco.estado')" label='Estado' >
        </app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório.">
        </app-campo-control-erro>        -->
      </div>

    </div>

    <div class="p-fluid p-formgrid p-grid p-group">
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <!-- <input id="estado" type="text" pInputText formControlName="estado"  /> -->
          <p-dropdown id="cargo" [autoDisplayFirst]="false" formControlName="cargo" [options]="cargos"
            optionLabel="desc" dataKey="nivel"></p-dropdown>
          <label for="cargo">Cargo</label>
        </span>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <!-- <input id="estado" type="text" pInputText formControlName="estado"  /> -->
          <p-multiSelect id="tecnologia" formControlName="tecnologia" [options]="tecnologias" optionLabel="desc"
            dataKey="nome"></p-multiSelect>
          <label for="tecnologia">Tecnologias</label>
        </span>
      </div>

      <div class="p-col-12 p-md-6 ">
        <span>Newsletter</span>
        <div class="p-grid p-field">
          <div *ngFor="let newsletter of newsletters" class="p-field-radiobutton">
            <p-radioButton [inputId]="newsletter.valor" [value]="newsletter.valor" formControlName="newsletter">
            </p-radioButton>
            <label [for]="newsletter.valor">{{ newsletter.desc }}</label>
          </div>
        </div>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <p-checkbox id="termo" [binary]="true" label="Aceito os termos." formControlName="termo" [class.ng-dirty]="verificaValidTouched('termo')"></p-checkbox>
        <app-error-msg [control]="formulario.get('termo')" label='Aceito os termos' >
        </app-error-msg>
<!--        
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('termo')" msgErro="Termo é obrigatório.">
        </app-campo-control-erro> -->        
      </div>

      <div class="p-field p-col-12 p-md-9">
        <label for="frameworks"> Frameworks </label>
        <div class="p-grid p-field">
          <div id="frameworks" *ngFor="let framework of frameworks">
            <p-checkbox inputId="{{framework}}" value="{{framework}}" label="{{framework}}"
              [formControl]="frameworkForm" [class.ng-dirty]="verificaValidTouched('frameworks')">
            </p-checkbox>
          </div>
        </div>
        <app-error-msg [control]="formulario.get('frameworks')" label='Frameworks é obrigatório.' >
        </app-error-msg>
      </div>

    </div>


    <p-button label="Submit" type="submit" icon="pi pi-check" iconPos="right" styleClass="p-button-primary"></p-button>
    <p-button label="Reset" type="reset" icon="pi pi-check" iconPos="right" styleClass="p-button-secondary"
      (click)="reset()"></p-button>
    <p-button label="SetCargo" icon="pi pi-check" iconPos="right" styleClass="p-butto-primary" (click)="setCargo()">
    </p-button>
    <p-button label="SetTecnologias" icon="pi pi-check" iconPos="right" styleClass="p-butto-primary"
      (click)="setTecnologias()">
    </p-button>

  </form>
</p-card>



<app-form-debug [form]="formulario"></app-form-debug>