<p-card header="Forms Data">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input id="nome" type="text" pInputText formControlName="nome">
          <label for="nome">Nome</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
        </app-campo-control-erro>
      </div>

      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input id="email" type="text" pInputText formControlName="email">
          <label for="email">Email</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email é obrigatório.">
        </app-campo-control-erro>

        <app-campo-control-erro [mostrarErro]="verificarEmail()" msgErro="Email inválido.">
        </app-campo-control-erro>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid p-group" formGroupName="endereco">

      <div class="p-field p-col-12 p-md-2">
        <span class="p-float-label">
          <input id="cep" type="text" pInputText formControlName="cep" (blur)="consultaCEP()" />
          <label for="cep">CEP</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório.">
        </app-campo-control-erro>       
      </div>

      <div class="p-field p-col-12 p-md-2">
        <span class="p-float-label">
          <input id="numero" type="text" pInputText formControlName="numero" >
          <label for="numero">Numero</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Numero é obrigatório.">
        </app-campo-control-erro>  
      </div>

      <div class="p-field p-col-12 p-md-8">
        <span class="p-float-label">
          <input id="complemento" type="text" pInputText formControlName="complemento" >
          <label for="complemento">Complemento</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.complemento')" msgErro="Complemento é obrigatório.">
        </app-campo-control-erro>
      </div>

      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input id="rua" type="text" pInputText formControlName="rua" >
          <label for="rua">Rua</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório.">
        </app-campo-control-erro>
      </div>

      <div class="p-field p-col-12 p-md-5">
        <span class="p-float-label">
          <input id="bairro" type="text" pInputText formControlName="bairro"  />
          <label for="bairro">Bairro</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório.">
        </app-campo-control-erro>
      </div>

      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <input id="cidade" type="text" pInputText formControlName="cidade"  />
          <label for="cidade">Cidade</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório.">
        </app-campo-control-erro>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <input id="estado" type="text" pInputText formControlName="estado"  />
          <label for="estado">Estado</label>
        </span>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório.">
        </app-campo-control-erro>
      </div>

    </div>
    <p-button label="Submit" type="submit" icon="pi pi-check" iconPos="right" styleClass="p-button-primary"></p-button >
    <p-button label="Reset" type="reset"  icon="pi pi-check" iconPos="right" styleClass="p-button-secondary"
    (click)="reset()"></p-button >
    
  </form>
</p-card>



<app-form-debug [form]="formulario"></app-form-debug>