<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-bgclass></app-diretiva-bgclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<app-exemplo-ng-content>
  <div class="titulo">Titulo do Painel</div>
  <div class="corpo">Panel content</div> 
  <div class="corpo">Panel content2</div>  
</app-exemplo-ng-content>
