<!-- <section class="property-binding">
  <article>
    <h3>Interpolação / Interpolation</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

</section> -->

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>
    <contator [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contator>
  </article>

</section>